body {
            background-color: #f8f9fa;
            margin: 20px;
            text-align: center;
        }
        h1 {
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            font-size: 2.5em;
            color: #343a40;
            margin-bottom: 20px;
        }
        #result {
            margin-top: 20px;
            font-size: 1.5em;
            color: #007bff;
            font-weight: bold;
        }
        .input-group {
            margin-bottom: 20px;
        }
